{% capture  the_author %}{{ article.author }}{% endcapture %}
    {% assign  authors = site.data.people | where: 'last_name', {{the_author}}  %}
{% if article.author %}
  {% for author in authors %}
    {{author.name}}
  {% endfor %}
{% elsif article.authors %}              
  {% for page_author in article.authors %}
    {% for author in site.data.people  %}
      {% if author.last_name == page_author %}
        {{author.name}}<br />
      {% endif %} 
    {% endfor %}
  {% endfor %}
{% endif %}
