// REQUIRED
@import 
"../node_modules/normalize.scss/normalize",
"../node_modules/normalize-opentype.css/normalize-opentype",
"bourbon",
"neat",
"base/base",
"base/utilities",
"base/utilities-accessibility",
"base/utilities-iframes",
"base/utilities-images";


// LIBS
@import "libs/font-icons";

// MODULES
@import 
"modules/aba",
"modules/article",
"modules/footer",
"modules/footnotes",
"modules/formatting",
"modules/hero",
"modules/layouts",
"modules/list-news",
"modules/nav-top",
"modules/pagination",
"modules/quotes",
"modules/sharing",
"modules/slideshow",
"modules/sliding-menu-top",
"modules/twitter";


figure {
  margin: 0; //overrides normalize
}

*[id*='filter-'] {
  margin-right: .5em;
}

body, .content {
  background-color:$base-background-color;
  //margin-top: $navigation-height; //use this only if nav-top is position:fixed
}

h2 a > i {
  font-size: $base-font-size * .5; // 16 * 1.5 = 24px
  visibility: hidden;
}
h2 a:hover > i {
  visibility: visible;

  @include animation(scale 1.0s ease-in, slide 2.0s ease);
}
.black, a.black {
  color: $black;
}

.box-white {
  padding:1em;
  background-color:#fff;
  clear:both;
  }
