hr.section-divider {
  border-top:none;
  display:block;
  width:100%;
  clear:both;
  margin:0 4em ;
}

aside {
  border-top: 4px solid $base-accent-color;
}


.row {
  @include row();
  @include padding(5em 7em);
  margin-top: 5em;
}

.content {
  padding-bottom: 10em;
}


.layout-news {
    @include outer-container;

    aside {
      @include span-columns(12);
      z-index:1000000;
      // border-left: 1px solid darken($light-gray, 7%);
      // border-right: 1px solid darken($light-gray, 7%);
      // border-bottom: 1px solid darken($light-gray, 7%);
      // border-radius:4px;
      margin-top:1em;
        hr {
          width:60%;
          border-top-color: darken($light-gray, 7%);
          margin-left: auto;
          margin-right: auto;
        }
      .content-top{
        background-color:$light-gray;
        padding:1em;
        clear:both;
      }
      .content-middle{
        background-color:darken($light-gray, 5%);
        border-top: 4px solid $base-accent-color;
        padding:1em;
        clear:both;
        }
      .content-bottom{
        background-color:$light-gray;
        border-top: 4px solid $base-accent-color;
        padding:1em;
        clear:both;
        }
    }
    section { @include span-columns(12); padding:inherit; margin-top:inherit;}

      @include media($large-screen) {
          aside { @include span-columns(5); margin-top:-3.5em; }
          section { @include span-columns(7); margin-top:2em;padding:0; }
}


}



.layout-article {

    //margin-top: 5em;
    padding-top:5em;
    @include outer-container;
    max-width:95%;

    aside { @include span-columns(12); margin-top:1em; padding:1em;background-color:#d9d9d9; }
    article { @include span-columns(12); padding:inherit; margin-top:inherit;}

      @include media($large-screen) {
          aside { @include span-columns(3); margin-top:2.5em; }
          article { @include span-columns(9); margin-top:0; padding: 2em 4em 2em 2em;}
}
    // section {
    //   @include span-columns(7);
    // }

}


.layout {
    @include outer-container;
      article { @include span-columns(12); }
      section.side-right { @include span-columns(12); background-color:yellow;}

      @include media($large-screen) {
      //@include grid-item-columns($grid-item-columns);
        article { @include span-columns(7); }
        section.side-right { @include span-columns(5); }
      }
}
