ol.h-feed {
  display: inline;
}

.twitter-timeline ol li.tweet, .twitter-timeline .tweet, li.h-entry.tweet.customisable-border {
display: inline-block !important;
float: left !important;
margin-right: 2em  !important;
width:20% !important;
background-color: white !important;
}