{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block hero %}
{% endblock %}

{% block content %}
  <div class="layout has-layout">
    <article class="hentry">  
      {% include "templates/partials/format-article-header-arguendo.html" %}
      {% include "templates/partials/format-article.html" %}
    </article>
    <section class="side-right">
      {% block sidebar %}
        {% include "templates/partials/format-sidebar-arguendo.html" %}
      {% endblock %}
    </section>
  </div>
{% endblock %}

