{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block hero %}
  {% include "templates/partials/hero-internal.html" %}
{% endblock %}

{% block content %}
  <div class="layout has-layout">
    <article class="hentry article">  
      {% include "templates/partials/format-article-header.html" %}
      {% include "templates/partials/format-article.html" %}
      <div class="entry-content">
        {% include "templates/partials/contributor-related-articles.html" %}
      </div>
    </article>
    <section class="side-right">
      {% block sidebar %}
        {% include "templates/partials/format-sidebar.html" %}
      {% endblock %}
    </section>
  </div>
{% endblock %}

