<footer class="footer-2">
  <div class="footer-logo">
    <img src="/static/images/logo-aba.png" alt="" class="logo-aba">
  </div>
    <ul>
      <li>&copy;&nbsp;<a href="http://www.americanbar.org/">ABA, All Rights Reserved</a> </li>
<li><a href="http://www.americanbar.org/utility/privacy.html">Privacy Policy</a> </li>
<li><a href="http://www.americanbar.org/utility/codeofconduct.html">Code of Conduct</a> </li>
<li><a href="http://www.americanbar.org/utility/copyright.html">Copyright</a> </li>
<li><a href="http://www.americanbar.org/utility/terms.html">ABA Terms of Use</a></li>


    </ul>

      {# <div class="sponsor-logo">

          <p>In partnership with</p>
          <img src="/static/images/PC_PrgIntComparativeLaw_3C_RGB_Hzt.png">
      </div> #}
    <div class="footer-secondary-links">
      <ul>
        <li><a href="http://sonnetmedia.net">site by sonnet media</a></li>
      </ul>
      <ul class="footer-social">
        <li>
          <a href="https://www.facebook.com/ABAICCProject">
            <img src="/static/images/facebook-logo-circle.png" alt="">
          </a>
        </li>
        <li>
          <a href="https://twitter.com/ABAICCProject">
            <img src="/static/images/twitter-logo-circle.png" alt="">
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCyRtIKt81NeasMTO0vq3JBA">
            <img src="/static/images/youtube-logo-circle.png" alt="">
          </a>
        </li>
      </ul>
    </div>
</footer>
