{% include "templates/partials/format-pull-quote.html" %}
{% if item._type == 'about' || item._type == 'contributors' || getCurrentUrl() == '/contributors/' %}
  {% set data = cms.about %}
  {% set data = data|sort('name', true) %}
{% elseif item._type == 'pollingdata' %}  
  {% set data = cms.pollingdata %}
  {% set data = data|sort('publish_date', true) %}
{% endif %}
{% set limit = 10 %}
{% include "templates/partials/nav-sidebar.html" %}
{% if item.venue %}
  {% set copy = 'Venue' %}
 <h5>Venue</h5> {{ item.venue|markdown }}
{% endif %}
{% if item.sponsor %}
  <h5>Sponsor</h5>{{ item.sponsor|markdown }}
{% endif %}

{% if item.participants %}
  <h5>Participants</h5>{{ item.participants|markdown }}
{% endif %}

<hr style="width:100%;margin:3em 0;" />
<div class="sharing">
  {% include "templates/partials/sharing.html" %}
</div>

{% include "templates/partials/comments.html" %}