{% for object in content_type %}
    {% if object.category != 'event' and object.category != 'Polling-data'  %}
      <a href="{{ url(object) }}" class="article boxed">
        <span class="category hidden">{{ object._type }}</span>
          <div class="heading{% if object.featured_image %} article-background{% endif %}" {% if object.featured_image %}style="background-position:center center;background-image:url(/assets/img/{{ object.featured_image|imageSize(400, 'auto') }});background-size:cover;"{% endif %}>
          <h6 class="heading-small {{ object._type }}">{{ object._type|capitalize }}</h6>
          <h3 style="margin:auto;">{{ object.name }}</h3>
          {# {% include authors.html %} #}
        </div>
        <div class="lede">
          {{ object.excerpt|safe}}
        </div>
      </a>
    {% endif %}
  {% endfor %}