<a class="article-background" href="{{ url(object) }}" style="margin-bottom:4em;">
  <h6 style="margin-top:-25px;">
    {% include "templates/partials/format-event-dates.html" %}
  </h6>
  {% if object.featured_image %}
    <div class="background" style="background-image:url({{ object.featured_image|imageSize(400, 'auto') }});">
    </div>
  {% else %}
    <div class="background" style="background-image:url({{ cms.global.default_small_image|imageSize(400, 'auto') }});">
    </div>
  {% endif %}
  <h3>{{ object.name }}</h3>
</a>