{% spaceless %}
{% if item.featured_image %}
  {% set featured_image = item.featured_image %}
{% else %}
  {% set featured_image = object.featured_image %}
{% endif %}
  {% set featured_news = cms.events|where('featured_image') %}
  {% set featured_news = featured_news|sort('publish_date', true) %}
  <div class="hero">
    <div class="gallery js-flickity" data-flickity-options='{ "cellAlign": "left","imagesLoaded": true, "wrapAround": true, "percentPosition": false, "autoPlay": 7200, "lazyLoad": 3 }'>
    {% if featured_news %}
      {% for news in featured_news|slice(0,7)  %}
        {% if news.featured_image %}
          {% set featured_image = news.featured_image|imageCrop(425,545) %}
        {% endif %}
        {% set title = news.name %}    
        {% if loop.index0 == '2' %}
          <div class="static-banner">
            <h2><em>International Criminal Justice Today</em> is a Partnership with</h2>
            <img data-flickity-lazyload="/static/images/PC_PrgIntComparativeLaw_3C_RGB_Hzt.png">
          </div>
        {% endif %}
        <a href="{{ url(news) }}" class="gallery-cell">
          <img data-flickity-lazyload="{{ featured_image }}" class="gallery-cell-image" alt="{{title}}">
          {% if title %}<span class="caption">{{ title }}</span>{% endif %}
        </a>
      {% endfor %}
      {% endif %}
    </div>
  </div>
{% endspaceless %} 