{% if item.featured_image %}
  {% set featured_image = item.featured_image %}
{% else %}
  {% set featured_image = object.featured_image %}
{% endif %}
  {% set featured_news = cms.events|where('featured_image') %}
  {% set featured_news = featured_news|sort('publish_date', true) %}

<div class="hero">
<div class="gallery js-flickity" data-flickity-options='{ 
  "cellAlign": "left",
  "imagesLoaded": true, 
  "wrapAround": true,
  "percentPosition": false,
  "autoPlay": true

  }'>
  {% for news in featured_news|slice(0,7)  %}
    {% if news.featured_image %}
      {% set featured_image = news.featured_image|imageCrop(425,545) %}
    {% endif %}
    {% set title = news.name %}    
    

{# <div class="static-banner"><img src="/static/images/PC_PrgIntComparativeLaw_3C_RGB_Hzt.png" style="width:320px;margin-top:.75em;">        </div> #}

<a href="{{ url(news) }}" class="gallery-cell">

  <img src="{{ featured_image }}" class="gallery-cell-image" alt="{{title}}">

  <span class="caption">{{ title }}</span>
</a>



  {% endfor %}



</div>
{# <h1 class="caption">&nbsp;</h1> #}
</div>

{# 

"contain": true , 
   "freeScroll": true,
  
  
  "percentPosition": false
 #}
