<div class="column-2-wide">
  <a width="800" height="100"  class="twitter-timeline" href="https://twitter.com/kiphale/lists/aba-icc-project-website" data-widget-id="481403293365567488" data-theme="dark" data-link-color="#ddd" data-tweet-limit="6" data-widget-id="479956200990076928" data-chrome="noheader noborders noscrollbar  transparent">Tweets from https://twitter.com/kiphale/lists/aba-icc-project-website</a>
<script async>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>


<div class="column-2-wide">
  <blockquote class="twitter-tweet" data-partner="tweetdeck">
    <p>
      <a href="https://twitter.com/hashtag/ICC?src=hash">#ICC</a> still a deterrent despite setbacks <a href="http://t.co/CQl43Q9vNW">http://t.co/CQl43Q9vNW</a> <a href="http://t.co/heB9dl2Fxn">http://t.co/heB9dl2Fxn</a>
    </p>&mdash; ABA-ICC Project (@ABAICCProject) <a href="https://twitter.com/ABAICCProject/status/510434610288017408">September 12, 2014</a>
  </blockquote>

</div>
