<div class="layout-arguendo-landing">
  <article class="hentry" id="{{ object.url }}">
    <header>
      <h2 class="entry-title">
        <a href="{{ object.url }}">
          {{ question }}
        </a>
      </h2>
      <small>
        <time datetime="{{ object.date | date:'%Y-%m-%d' }}">
          {% include _date-object.html %}
        </time>
      </small>
    </header>
    <div class="entry-content prose">
      {{ theContent | markdownify }}<!--  question summary -->
    </div>
  </article>
  <section class="side-right background-light">
    {% include _arguendo-response-list.html %}
  </section>
<hr style="width:100%;margin:4em auto;" />
</div>
