{% assign contributors = site.contributors | where: 'slug', contributor %}
{% assign count = forloop.index0 %}
{% for object in contributors  %}
  {% assign index = count | plus: 1 %}
  <h4 class="h5" style="display:inline;">
    {% comment %} TODO: Fix THIS FOR COMMAS {% endcomment %}
    {% if index > 1 and forloop.last %}and {% endif %}{{ object.title }}{% unless forloop.last %}, {% endunless %}
  </h4>
  <div class="columns-3">
    {% if object.image_path %}
      {% if count == 0 %}
      <img src="{{ site.image_url}}/{{ object.image_path }}?w=110&h=110&fit=clamp&exp=1" style="max-height:110px;">
      {% endif %}
    {% endif %}
  </div>
{% endfor %}
