<header class="navigation">
  <div class="navigation-wrapper">
    <div class="logo">
      <img src="{{ site.image_path }}PC_PrgIntComparativeLaw_3C_RGB_Hzt.png">
      <a href="/">
      <img src="{{ site.image_path }}logo-aba-icc_144xb.png" alt="">
      </a>


    </div>
    <a href="" class="navigation-menu-button js-menu-trigger" id="js-mobile-menu">&#9776; MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link">
          <a href="/" class="site-heading">
            International Criminal Justice Today
          </a>
        </li>
        <!-- <li class="nav-link"><a href="javascript:void(0)">Arguendo</a></li>
        <li class="nav-link"><a href="javascript:void(0)">More</a></li> -->
      </ul>
    </div>

  </div>
</header>
<nav class="js-menu sliding-menu-content">

<a href="/" class="logo" style="width:90px;margin:4em auto;">
    <img src="/assets/img/logo-aba-icc_144xb.png" alt="" style="width:90px;margin:4em auto;">
  </a>
  <ul>
    <li><a href="/about/">About</a></li>
    <li><a href="/arguendo/">Arguendo</a></li>
    <li><a href="javascript:void(0)">Ipsos Data</a></li>
  </ul>



</nav>

<div class="js-menu-screen menu-screen"></div>
