{% assign responses = site.arguendo | where: 'arguendo-question', slug | sort: date | reverse %}
{% if responses %}
  {% for object in responses %}
    {% unless object.url == page.url %}
      {% assign even = forloop.index | modulo: 2 %}
      <a href="{{ object.url }} " class="grid-item dark box {% if even == 1 %} lightest_gray{% else %} light_gray{% endif %}">
        {% assign contributorList = object.contributors %}
        {% for contributor in contributorList  %}
          {% include _arguendo-contributor-list.html %}
        {% endfor %}
      <div class="columns-9">
        {{ object.title }}
      </div>
      </a>
    {% endunless %}
  {% endfor %}
{% endif %}
