{% if page.featured_image_path %}
    <img src="{{page.featured_image_path }}" style="width:100%;" class="featured_image" />
{% endif %}
{% if page.embed_deck %}
  {{ page.embed_deck }}
{% endif %}
  <header>
    {% if collection %}
      <h2>
        {{ collection.collection_name }}
      </h2>
    {% endif %}
    {% if page.title %}
      <h1 class="entry-title">
        {{page.title}}
      </h1>
    {% endif %}

    {% if page.question %}
      {% for question in questions %}
        <h4>
          <a href="{{ question.url }}" style="color:#666;">{{ question.title }}</a>
        </h4>
        <hr />
      {% endfor %}
    {% endif %}
    {% if page.subtitle %}
    <h2>
      {{page.subtitle}}
    </h2>
    {% endif %}

    {% if page.collection == 'news' or page.collection == 'opinion' %}
      <time class='date' datetime="{{ page.date | date:'%Y-%m-%d' }}">
        <small>
          {{ page.date | date:'%A %b %d, %Y' }}
        </small>
      </time>
    {% endif %}

    {% if page.contributors %} <br />by
      {% include _article-contributor.html %}
    {% endif %}
  </header>
  <div class="entry-content prose">
    {% if page.image_path %}
        <img src="{{page.image_path }}" style="max-height:300px;float:left;margin:.25em 1em .25em 0;" class="featured_image" />
    {% endif %}
    {{ content }}
  </div>
