
{% if page.pull_quote %}
  <blockquote class="pull_quote">
    {{ page.pull_quote }}
  </blockquote>
  {% if page.pull_quote_attribution %}
    <p class="pull_quote_attribution">— {{ page.pull_quote_attribution }}</p>
  {% endif %}
{% endif %}
<hr style="width:100%;margin:3em 0;" />



{% if page.category == 'about' %}
  {% assign pages = site.landing_pages | where: 'category', 'about' %}
  {% for page_item in pages %}
    {% unless page.url == page_item.url %}
      <h5>
        <a href="{{ page_item.url }}">
          {{ page_item.title}}
        </a>
      </h5>
      {% if page.description %}
        {{ page.description | markdownify }}
      {% endif %}
    {% endunless %}
  {% endfor %}
  <hr />
{% endif %}




{% if page.collection == 'contributors' %}
  <h4>Articles by {{ page.title }}</h4>
  {% assign documents = site.documents %}
  <ul>
    {% for object in documents  %}
      {% if object.contributors[0] == page.slug or object.contributors[1] == page.slug or object.contributors[2] == page.slug %}
        <li style="margin-bottom:1em;">
          <a href="{{ object.url }}">
            <strong>
              {{ object.title }}
            </strong>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <hr />
{% endif %}



{% if page.slug == 'ipsos-polling-data' or page.collection == 'polling-data' %}
  {% assign data = site.polling-data  %}
  <h3>
    Quarterly Reports
  </h3>
  {% for object in data | sort: 'date', 'last' | reverse %}
    {% unless object.url == page.url %}
    <h4>
      <a href="{{ object.url }}">
        {{ object.title }}
      </a>
    </h4>
    {{ object.description | markdownify }}
    <hr />
  {% endunless %}
  {% endfor %}
{% endif %}


<div class="sharing">
  {% include _sharing.html %}
</div>


<hr />

{% unless page.comments == false %}
  <div id="disqus_thread"></div>
{% endunless %}
