{% assign collection = object.collection %}
{% assign pageCollection = site.collections | where: "label", collection | first %}
{% assign collectionName = pageCollection.collection_name  %}


		<a href="{{ object.url }}" class="article-box formatted-box">
      {% if featured_image %}
		  <div class="heading article-background" style="background-position:center center;background-image:url({{ featured_image }});background-size:cover;">
				{% if collectionName %}
		    <h6 class="heading-small {{ object.category }}">
					{{ collectionName }}
				</h6>
				{% endif %}
		  </div>
		  <div class="lede">
				<h3 style="font-size:1.5em;margin:0;">
					{{ object.title }}
				</h3>
				<small>
					{% include _article-contributor.html %} <br />
				</small>
		    	{{ object.excerpt | strip_html | truncate: 155 }}
		  </div>

			{% else %}

			<div class="heading">
				{% if collectionName %}
		    	<h6 class="heading-small {{ object.collection }}">
						{{ collectionName }}
					</h6>
				{% endif %}
				<h3 class="h4" style="margin:auto;">
					{{ object.title }}
				</h3>
		     <small>
					 {% include _article-contributor.html %}
				 </small>
		  </div>
		  <div class="lede">
		    {{ object.excerpt | strip_html | truncate: 255 }}
		  </div>
		{% endif %}
		</a>
