{% assign collection = object.collection %}
{% assign pageCollection = site.collections | where: "label", collection | first %}
{% assign collectionName = pageCollection.collection_name  %}
{% assign title_size = object.title | size  %}

		<a href="{{ object.url }}" class="article-box formatted-box" style="height:auto;">
      {% if featured_image %}
		  <div class="heading article-background" style="background-position:center center;background-image:url({{ featured_image }});background-size:cover;">

		  </div>
		  <div class="lede">
				<h3 class="{% if title_size > 125 %}h4{% endif %}" style="margin:0;">
					{{ object.title | markdownify | remove: '<p>' | remove: '</p>'  }}
				</h3>
				<small>
					{% include _article-contributor.html %} <br />
				</small>

		  </div>

			{% else %}

			<h3 class="{% if title_size > 125 %}h3{% endif %}" style="margin:.5em auto;">
				{{ object.title }}
			</h3>
			 <p>
				 {% include _article-contributor.html %}
			 </p>
			 {{ object.excerpt | strip_html | truncate: 140 }}



		{% endif %}
		</a>
