body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $unitless-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  line-height: $header-line-height;
  margin: 0 0 .3125em 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  color: $blue;
}

h1, .h1 {
  font-size: $h2-font-size;
  @include media($normal-screen-up) {
    font-size: $h1-font-size;
  }
}

h2 {
  font-size: $h2-font-size;
  font-weight: 600;
}

aside h2 {
  font-size: $h2-font-size * 0.875;
}

h3 {
  font-size: $h3-font-size;
}

article h3 {
  font-size: $h1-font-size * .875;
  margin-top: $header-line-height;
  margin-bottom: $header-line-height * .5;
}

h4, .h4 {
  font-size: $h4-font-size;
}
h4 {
  color:#666;
  a {
    color:#666;
    &:hover {
      color: #111;
    }
  }
}

h5, .h5 {
  font-size: $h5-font-size;
}

h6, .h6 {
  font-size: $h6-font-size;
  font-weight: 800;
}

p {
  margin: 0 0 ($base-line-height * .5);
}


// HOME PAGE HEADINGS
body.home h6, .section-heading {
  padding-left: .5em;
  padding-right: .5em;
  @include media($xlarge-screen-up) {
    padding-left: 0;
    padding-right: 0;
  }
}


article.hentry {
  //font-size: $base-font-size * 1.125; // 16 * 1.125 = 18

  p{
  font-size: $base-font-size * 1.0625; // 16 * 1.0625 = 17px
  line-height: 1.7;
  text-align: justify;
  }
}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;
  &:hover {
    color: $hover-link-color;
  }
  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;
  &:before {
    content: '\2014 \00A0';
  }
}

.justified p {
  text-align: justify;
}

.caption {
  font-size: 90%;
  font-style: italic;
}

small, .small {
  font-size: .875em;
}
sup, sub {
//@include adjust-font-size-to($kappa);
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub { top: 0.4em; }
.box {
  font-family: $sans-serif;
  ///font-size: .9375em;
  text-align: left;
  p {
    margin-top:0;
  }
}
.inline {
  display: inline;
}
// .section-heading {
//   margin-bottom: .25em;
// }
