@screen md {
  h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    
  }
  
  h1 {
    margin-top: 0;
    font-size: 3.157em;
  }
  
  h2 {font-size: 2.369em;}
  
  h3 {font-size: 1.777em;}
  
  h4 {font-size: 1.333em;}
  
  small, .font_small {font-size: 0.75em;}
}