button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  font-family: $sans-serif;
padding: .35em .45em;
  font-weight: 300;

  a{
color: #f6f6f6;

  }

.small {
font-size: 90%;

}

}
