{% capture collection_name %}{{ include.collection }}{% endcapture %}
{% assign collection = site.collections.[collection_name] %}
{% assign the_question = page.question %}
{% assign questions = site.[collection_name] | where: 'title', the_question  %}

<article class="hentry">
  {% if page.featured_image %}
    <img src="/assets/img/{{page.featured_image}}" style="width:100%;" class="featured_image">
  {% endif %}
  <header>
    {% if collection %}

      <h2>{{ collection.collection_name }}</h2>

  {% endif %}
  {% if page.question %}
    {% for question in questions %}
  <h4><a href="{{ question.url }}" style="color:#666;">{{ question.title }}</a>
  </h4>
  <hr />
  {% endfor %}
  {% endif %}

    {% if page.title %}
      <h1 class="entry-title">{{page.title}}</h1>
    {% endif %}
    {% if page.subtitle %}
    <h2>
      {{page.subtitle}}
    </h2>
    {% endif %}
    {% if page.date %}
      <time class='date' datetime="{{ page.date | date:'%Y-%m-%d' }}">
        <small>
          {{ page.date | date:'%A %b %d, %Y' }}
        </small>
      </time>
    {% endif %}

    {% unless collection %}
      {% if page.authors %}
        {% include articles/authors.html %}
      {% endif %}
    {% endunless %}

  </header>
  <div class="entry-content prose columns-2 "><!--  //CONTENT -->
    {{ content }}
  </div>
    <!-- include global/edit.html -->
</article>