---
---

// REQUIRED
@import "libs/_normalize";
@import "libs/bourbon/bourbon";
@import "base/base";
@import "libs/neat/neat";

//LIBS
@import "libs/font-icons";
@import "libs/fonts-typography"; //typography.com put here to reduce # of calls

// BASIC MODULES
@import "modules/article";
@import "modules/refills/nav-top";
@import "modules/refills/hero";
@import "modules/refills/footer";
@import "modules/refills/sliding-menu";

// OPTIONAL MODULES
@import "modules/layouts";

.caption {
	font-size: 90%;
	font-style: italic;
}

.space-below {
	margin-bottom:1em;
}

.space-below-big {
	margin-bottom:3em;
	display:block;
}

header.navigation ul li.nav-link a.site-heading {
	letter-spacing: 0.0625em;
	//color:white;

	font-size:1.5em;
	text-transform:uppercase;

	font-family: $brand-font;
	font-weight:300;
}

.item {
	float: left;
	width:225px;
}
