{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block hero %}
{% endblock %}

{% block content %}
  <div class="has-layout row-top">
    {% set content_type = cms.opinion %}
    {% set content_type = content_type|sort('publish_date', true) %}
    <div class="row">
      <h2>{% block page_title %}News Pieces published on International Criminal Justice Today{% endblock %}</h2>
      <hr />
      {% for object in content_type %}
        {% include "templates/partials/format-article-list.html" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}