<div class="cycle-slideshow" data-cycle-slides="section" data-cycle-fx="fadeout" data-cycle-speed="900" data-cycle-manual-speed="100" data-cycle-pause-on-hover="true">
{% assign featured_news = site.posts|where: 'featured', true %}
{% for news in featured_news limit:10 offset:0 %}
			{% assign splash_image = news.splash_image %}
			{% assign title = news.title %}
			{% assign url = news.url %}


	<section class="hero" style="background-image:url(/assets/img/{{ splash_image }});width:100%;height:495px;{% if forloop.index0 > 0 %} display:none;{% endif %}" id="post-{{ forloop.index0 }}">
		<div class="hero-inner">
			<div class="hero-copy">
				<a href="{{ url }}"><h1>{{title}}</h1></a>
			</div>
		</div>
</section>

{% endfor %}
</div>
