---
layout: default
type: arguendo
---
{% assign description = page.description %}
{% assign questions = site.arguendo-questions | sort: date | reverse %}
<div id="start-of-content" class="layout has-layout" style="background-color:#F7F7F7;">
  <article class="hentry" role="article">
    {% include _arguendo-page-heading.html %}
  </article>
</div>

<div class="layout has-layout" style="margin-top:0;">
  {% for object in questions %}
    {% assign question = object.title %}
    {% assign slug = object.slug %}
    {% assign theContent = object.content %}
    {% assign date = object.date %}
	  {% include _arguendo-question.html %}
  {% endfor %}
</div>
