---
layout: default
type: page
---
{% assign the_question = page.question %}
{% if the_question %}
{% assign questions = site[collection_name] | where: 'title', the_question  %}
{% endif %}

{% include hero.html  %}

<div id="start-of-content" class="layout has-layout" style="min-height:100vh;">
	<article class="hentry article darken" role="article">
		{% include _article.html %}
		{% if page.slug == 'contributors' %}
		  {% assign contributors = site.contributors | sort: 'last_name', 'last'  %}
		  {% for object in contributors %}
		  	{% assign featured_image = object.image_path %}
		  	{% include _listing-articles.html %}
		  {% endfor %}
		{% endif %}
		{% if page.include %}
		{% include {{page.include}} %}
		{% endif %}
  </article>
	<section class="side-right">
		{% include _article-sidebar.html %}
	</section>
</div>
