{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block hero %}
{% endblock %}

{% block content %}
  <div class="has-layout">
    {% include "templates/partials/format-header-arguendo.html" %}
    {% set name = item.name %}
    {% set copy = item.copy %}
    {% set arguendoarticle_question = item.arguendoarticle_question|sort('publish_date', true) %}
    {% include "templates/partials/format-arguendo-list.html" %}
  </div>
{% endblock %}