{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - Home{% endblock %}

{% block content %}
  {% set articles = merge(cms.opinion, cms.news) %}
  {% set articles = articles|sort('publish_date', true) %}
  {% set events   = cms.events %}
  {% set events   = events|sort('publish_date', true) %}
  
{# {% set todays_date = site.time | date: "%Y%m%d" %} #}


<div class="layout-home has-layout">

  <section id="container-filter" class="featured-box">
    {% include "templates/partials/filter-buttons.html" %}
    <div class="list-filter">
      {% include "templates/partials/list-articles.html" %}
    </div>
  </section>
  
  <aside>    
    <div class="content-top">
      {% include "templates/partials/arguendo-summary.html" %}
    </div>

    <div class="content-middle script-only hidden">
      {% include "templates/partials/tumblr-headlines.html" %}
    </div>


    <div class="content-bottom">
      
        {% include "templates/partials/ipsos-summary.html" %}
    </div>


  </aside>

</div><!--  //layout-news -->


<div class="row">
  <h2 style="margin-bottom:2em;">Event Recaps</h2>
  {% for object in events|slice(0,6) %}
    {% include "templates/partials/format-boxes-events.html" %}
  {% endfor %}
  <h5><a href="/events/">See All Past Events</a></h5>
</div>


<div class="row dark-background script-only">
  {% include "templates/partials/row-social.html" %}
</div>





{% endblock %}
