<!-- TODO: Move authors into single authors yaml fild along with others on the site -->
{% if page.author %}
  {% capture  the_author %}{{ page.author }}{% endcapture %}
  {% assign  authors = site.data.people | where: 'last_name', {{the_author}}  %}
  {% for author in authors %}
    {% include arguendo/format-bio.html %}
  {% endfor %}
{% elsif page.authors %}
  {% for page_author in page.authors %}
    {% for author in site.data.people  %}
      {% if author.last_name == page_author %}
        {% include arguendo/format-bio.html %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}
