<div class="layout has-layout">
  <article class="hentry no-background">
    <header>{% if collection_name %}


        <h1>{{ collection.collection_name | markdownify | remove: '<p>' | remove: '</p>'  }}</h1>
        {% endif %}
    {% if collection.description %}
      <h2 class="h5">
        {{ collection.description }}
      </h2>
    {% endif %}
    {% if page.url != '/arguendo/' %}
    {% include arguendo/format-arguendo-main-page-link.html %}
    {% endif %}
    </header>
  </article>
</div>
