{% capture the_collection %}arguendo{% endcapture %}
{% assign  questions = site.[the_collection] | where: 'type', 'question' | sort: 'date' | reverse %}


{% for article in questions reverse  | limit: 1 %}
  {% capture the_question %}{{ article.title }}{% endcapture %}
  {% capture the_question_link %}{{ article.url }}{% endcapture %}
  {% capture summary %}{{ article.content }}{% endcapture %}
  {% assign  articles = site.arguendo | where: 'type', -'question' | sort: 'date' | reverse   %}
		<h3 class="h5" style="margin-bottom:.75em;"><a href="/arguendo/">{{the_question}}</a></h3>
    <div id="content_arguendo">
      {{summary}}
      <br />
    </div>
 {% endfor %}


  {% for article in articles %}
      {% if article.question == {{the_question}} %}
        <a class="grid-item grid-item-big grid-item-list {% cycle 'dark' ,'light' %}" href="{{ article.url }}">
             {% include arguendo/format-authors.html %}
              {% comment %}<strong>{{article.title}}</strong>{% endcomment %}
        </a>
      {% endif %}
    {% endfor %}

       <div style="width:80px;margin:auto;padding: 2em 0" >
          <a href="javascript:void(0)" id="show-arguendo-extended"><i class="icon-down-open">expand</i></a>
        </div>



