article {
  background-color: $content-color-background;
  margin:auto;
  max-width: 100%;
  .entry-title {
    color: $base-link-color;
  }
  .no-background {
    background-color:$base-background-color;
  }
  time {
  font-family: $sans-serif;
  }
  &.hentry header {
    padding: 2.5em 2em .25em 2em;
    @include media($large-screen-up) {
      padding: 2.5em 4em .25em 4em;
    }
  }
  &.hentry .entry-content{
    max-width: $d-vp;
    padding:1.2em;
    @include media($large-screen-up) {
      padding: .25em 4em;
    }
  }
  header {
    margin-bottom: .5em;
  }
  ul {
  @extend %default-ul;  
  }
}

aside.sidebar-right {
  font-size: .75em;
}

aside p {
  color: #777;
}

.article {
  margin-bottom: 10em;
}
