hr.section-divider {
  border-top:none;
  display:block;
  width:100%;
  clear:both;
  margin:0 4em ;
}

.push-down {
  margin-top: 5em;
}


aside h2, aside .h4 {
  margin-bottom: 1em;
}


.background-dark { //for home page row
  background-color: $blue;
}

.background-light {
  background-color: darken($light-gray, 3%);
}

article ol li{
  font-size:.75em;
  margin-bottom: 1em;

}

.space-below-big {
  display: block;
  margin-bottom: 3em;
}

.text-right {
  text-align: right;
}

.light_gray {
  background-color: $light-gray;
}
.lightest_gray {
  background-color:$lightest-gray;
}
