---
layout: default
section: arguendo
---
<div class="layout">


  <article class="hentry">
  <header>
     {% if page.title %}
    <h2>{{page.title}}<br />

    </h2>

    {% endif %}
    {% if page.excerpt %}
    <h2>
      {{page.excerpt}}
    </h2>
    {% endif %}
  </header>
  <div class="entry-content prose columns-2 "><!--  //CONTENT -->

   {% if page.include %}
      {% include {{page.include}} %}
    {% endif %}
    </div>
  </article>
  <section class="side-right">

  <blockquote class="aside_quote">{{ content }}</blockquote>

  </section>





</div>