---
layout: default
type: arguendo
---

{% assign questions = site.arguendo-questions | sort: date | reverse %}


<div id="start-of-content" class="layout has-layout">

	<article class="hentry no-background" role="article">
    <header>
      <h1>
        {{ page.title | markdownify | remove: '<p>' | remove: '</p>'  }}
      </h1>
      <h2 class="h5">
        {{ page.description }}
      </h2>
      {% if page.url != '/arguendo/' %}
        <h6>
          <a href="/arguendo/">
            Arguendo Main
          </a>
        </h6>
      {% endif %}
    </header>
  </article>


{% for object in questions %}
<div class="layout-arguendo-landing">
  <article class="hentry" id="{{ object.url }}">
    <header>
      <h2 class="entry-title">
        <a href="{{ object.url }}">
          {{ object.title }}
        </a>
      </h2>
      <small>
        <time datetime="{{ object.date | date:'%Y-%m-%d' }}">
          {{ object.date | date:'%A %b %d, %Y' }}
        </time>
      </small>
    </header>
    <div class="entry-content prose">
      {{ object.content | markdownify }}<!--  question summary -->
    </div>
  </article>
  <section class="side-right background-light">
    {% assign responses = site.arguendo | where: 'arguendo-question', object.slug | sort: date | reverse %}
    {% if responses %}
      {% for object in responses %}
        <a href="{{ object.url }} " class="grid-item dark box {% if (forloop.index % 2) == 0 %} lightest_gray{% else %} light_gray{% endif %}">

        {% for contributor in object.contributors  %}
          {% assign contributors = site.contributors | where: 'slug', contributor %}
          {% for object in contributors  %}
            <h4 class="h5" style="display:inline;">
              {% include _contributors-list-titles.html %}
            </h4>
            <div class="columns-3">

              {% if object.image_path %}

                  <img src="{{ site.image_url}}{{ object.image_path }}?w=110&h=110&fit=clamp&exp=1" style="max-height:100px;">




              {% endif %}
            </div>

          {% endfor %}




        {% endfor %}



        <div class="columns-9">
          {{ object.title }}
        </div>






        </a>
      {% endfor %}
    {% endif %}
  </section>
<hr style="width:100%;margin:4em auto;" />
</div>




{% endfor %}
</div>
