---
layout: default
type: arguendo-question
---
{% assign arguendo = site.landing_pages | where: 'slug', 'arguendo' | first %}
{% assign description = arguendo.description %}

<div id="start-of-content" class="layout has-layout" style="background-color:#F7F7F7;">
	<article class="hentry" role="article">
  	{% include _arguendo-page-heading.html %}
	</article>
</div>

<div class="layout has-layout" style="margin-top:0;">
  {% assign question = page.title %}
  {% assign slug = page.slug %}
  {% assign theContent = page.content %}
  {% assign date = page.date %}
	{% include _arguendo-question.html %}
</div>
