---
layout: default
section: page
---
{% assign featured_news = site.posts|where: 'featured', true %}
{% assign other_news = site.posts|where: 'featured', -true %}

<div class="layout-news">


	<section class="featured-box">
  <h2 class="section-heading">News & Articles</h2>
		{% for news in other_news limit:5 %}

        <small>{{ news.category}}</small>
		  <h3><a href="{{ news.url }}">{{ news.title }}</a></h3>
		  <hr />
		{% endfor %}


<h2 class="section-heading">Events</h2>
    {% for news in featured_news limit:5 %}

        <small>{{ news.category}}</small>
      <h3><a href="{{ news.url }}">{{ news.title }}</a></h3>
      <hr />
    {% endfor %}

</section>



<aside>
  <div class="content-top">
    <h2>Headlines</h2>
    <div id="content_tumblr"></div>

			<div style="width:67px;margin:auto;" >
				<a href="javascript:void(0)" id="show-tumblr-extended"><i class="icon-down-open">more</i></a>

			</div>



	<div id="content_tumblr-long" style="display:none;"></div>





</div>
  <div class="content-middle">
      <h2>Arguendo</h2>

{% include page_content/arguendo-summary.html %}



  </div>
  <div class="content-bottom">
  <h2>Latest Ipsos Data</h2>
    <ul>
      <li>February Results</li>
    </ul>



</div>

</aside>
</div><!--  //layout-news -->


<div class="row dark-background">

 {% include global/twitter-list.html %}


</div>

{% comment %}
<div class="row">

 {% include global/twitter-list.html %}


</div>
{% endcomment %}
