---
layout: default
section: page
---
{% comment %}{% assign news = site.posts|where: 'category', 'News' %}{% endcomment %}
{% assign posts       = site.posts %}
{% assign articles    = site.posts %}
{% assign events      = site.posts | where: 'category', 'event' %}
{% assign opinion     = site.posts | where: 'category', 'Opinion' %}

{% assign todays_date = site.time | date: "%Y%m%d" %}
<div class="layout-home has-layout">
  <section id="container-filter" class="featured-box">
    <div class="filter-buttons script-only hidden" style="margin:1em auto 2em auto;">
      <button id="filter-clear" class="news">All</button>
      <button id="filter-news" class="news">News</button>
      <button id="filter-opinion" class="opinion">Opinion</button>  <!-- <button class="event">Events</button> -->
    </div>
    {% for news in events limit:5 %}
      {% assign post_date = news.date | date: "%Y%m%d" %}
      {% if post_date > todays_date %}
        <h6 class="notice">Event: {{ news.date | date: "%A, %b %d %Y" }}</h6>
        <h3><a href="{{ news.url }}">{{ news.title }}</a></h3>
        <!-- <a href="{{ news.url }}" class="link-utility"><strong>Details &raquo;</strong></a> -->
        <hr class="section-div" />
      {% endif %}
    {% endfor %}
    <div class="list-filter">
      {% for article in articles limit:6 %}
        {% if article.category != 'event' %}
          <a href="{{ article.url }}" class="article">
          <span class="category hidden">{{ article.category | slugify }}</span>
            <div class="heading{% if article.featured_image %} article-background{% endif %}" {% if article.featured_image %}style="background-position:center center;background-image:url(/assets/img/{{ article.featured_image }});background-size:cover;"{% endif %}>
              <h6 class="heading-small {{ article.category | slugify }}">{{ article.category}}</h6>
              <h3 style="margin:auto;">{{ article.title }}</h3>
              {% include authors.html %}
            </div>
            <div class="lede">
              {{ article.excerpt | strip_html  | truncate: 255, '...'}}
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </section>
  <aside>
    <div class="content-top">
        <h2 style="margin-bottom:0;"><a href="/arguendo/"><em>Arguendo</em></a></h2>
      {% include arguendo/summary.html %}
    </div>
    <div class="content-middle script-only hidden">
      <h2 style="margin-bottom:.25em;">Headlines</h2>
      <div id="content_tumblr"></div>
        <div style="width:80px;margin:auto;" >
          <a href="javascript:void(0)" id="show-tumblr-extended"><i class="icon-down-open">expand</i></a>
        </div>
      <div id="content_tumblr-long" style="display:none;"></div>
    </div>
    <div class="content-bottom">
      <h2>Latest Ipsos Data</h2>
      <ul>
        <li>Coming Soon!</li>
      </ul>
    </div>
  </aside>
</div><!--  //layout-news -->
<div class="row">
  <h2>Event Recaps</h2>
  {% for news in events limit:6 %}
    <a class="article-background" href="{{ news.url }}">
      {% if news.featured_image %}
        <div class="background" style="background-image:url(/assets/img/{{ news.featured_image }});">
        </div>
      {% endif %}
      <h3>{{ news.title }}</h3>
    </a>
  {% endfor %}
</div>
<div class="row dark-background script-only hidden">
  <div class="column-2-wide">
    {% include global/twitter-list.html %}
  </div>
  <div class="column-2-wide">
    <blockquote class="twitter-tweet" data-partner="tweetdeck">
      <p>
        <a href="https://twitter.com/hashtag/ICC?src=hash">#ICC</a> still a deterrent despite setbacks <a href="http://t.co/CQl43Q9vNW">http://t.co/CQl43Q9vNW</a> <a href="http://t.co/heB9dl2Fxn">http://t.co/heB9dl2Fxn</a>
      </p>&mdash; ABA-ICC Project (@ABAICCProject) <a href="https://twitter.com/ABAICCProject/status/510434610288017408">September 12, 2014</a>
    </blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>