---
layout: default
type: page
---
{% assign pageCategory = 'contributors' %}
{% assign primaryContent = site.documents | where: 'collection', pageCategory | sort: 'last_name', 'last'  %}

<div id="start-of-content" class="layout has-layout row-top">
	<article class="hentry article">
		<h2>
			{{ page.title }}
		</h2>
		{% if page.description %}
		{{ page.description | markdownify }}
		{% endif %}
		<hr />
		{% for object in primaryContent %}
			{% assign featured_image = object.image_path %}
			{% include _listing-articles.html %}
		{% endfor %}
	</article>

	<section class="side-right">
		{% include _article-sidebar.html %}
	</section>

</div>
