{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - events{% endblock %}
{% block hero %}{% endblock %}
{% block content %}
  {% set data = cms.events %}
  {% set data = data|sort('start_date', true) %}
  {% set data = paginate(data, 30) %}
  <div class="row">
    <h2 style="margin-bottom:2em;">Event Recaps</h2>
    {% for object in data  %}
      {% include "templates/partials/format-boxes-events.html" %}
    {% endfor %}
  </div>
  {% include "templates/partials/paginator.html" %}
{% endblock %}
